body {
  font-family: Arial, sans-serif;
  background-color: #3F3F3F;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 98%;
  margin: 0 auto;
  padding: 5px;
  float: center;
}

#quadro-superior {
  background-color: #F2F2F2;
  border: 1px solid #5F5F5F;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  color: #3F3F3F;
  }

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  margin-bottom: 1px;
  align-items: center;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  color: #3F3F3F;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 7px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px
}

input[type="text"],
input[type="number"],
input[type="date"]
 {
  width: 98%;
  padding: 7px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 14px;
}

input[type="submit"],
input[type="button"]
 {
  width: 100px;
  background-color: #E76F51;
  color: #ffffff;
  border: none;
  padding:  5px;
  margin: 0px;
  font-size: 16px;
  cursor: pointer;
}

.botoes {
  display: flex;
  grid-gap: 750px; 
  padding: 5px;
  justify-content: flex-end; 
}

#quadro-inferior {
  background-color: #F2F2F2;
  border: 1px solid #5F5F5F;
  padding: 5px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3F3F3F;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  border: 1px solid #D8D8D8;
}

th {
  font-weight: bold;
  background-color: #E76F51;
}

tbody tr:nth-child(even) {
  background-color: #D8D8D8;
}

/* Estilo para centralizar as células da tabela */
.table-cell-centered {
  text-align: center;
}

#quadro-inferior table td.table-cell-centered {
  text-align: center;
}
